*,
*::before,
*::after {
    box-sizing: border-box;
}

/* common start */
:host {
    /* public */
    --position: to right;
    --repeat: 1;
    --thumb-size: 1px;
    --thumb-color: white;
    --val: 0;
    --p: calc(var(--val) / var(--repeat) * 1%);
    display: grid;
    position: relative;
    overflow: visible;
    /* thumb */
    --thumb-size-hf: calc(var(--thumb-size) / 2);
    --thumb-gradient-val: var(--position),
        #0000 0 calc(var(--p) - var(--thumb-size-hf)),
        var(--thumb-color) calc(var(--p) - var(--thumb-size-hf)) calc(var(--p) + var(--thumb-size-hf)),
        #0000 0 calc(100% / var(--repeat));
    --thumb-opacity: calc(var(--val) * (100 - var(--val)));/* hide thumb if(0 || 100) */
    /* mask */
    --mask-before-val: var(--position), #0000 0, var(--p), #000 0 calc(100% / var(--repeat));
    --mask-after-val: var(--position), #000 0, var(--p), #0000 0 calc(100% / var(--repeat));
    &::after {
        content: 'thumb';
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: drop-shadow(0px 0px 1px black);
        background: var(--thumb-gradient);
        opacity: var(--thumb-opacity);
        pointer-events: none;
    }
}
:host(:hover) {
    &::after {
        filter: drop-shadow(0px 0px 2px black);
    }
}
::slotted([slot=before]) {
    mask: var(--mask-before);
}
::slotted([slot=after]) {
    mask: var(--mask-after);
}
/* common end */

/* children start */
#range,
::slotted([slot=before]),
::slotted([slot=after]) {
    grid-area: 1 / 1;
}
#range {
    z-index: 1;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: ew-resize;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 0px;
        height: 0px;
    }
}
/* children end */

/* special start */
:host([orient=vertical]) {
    --position: to bottom;
    #range[orient=vertical] {
        appearance: slider-vertical;
        cursor: ns-resize;
        transform: rotate(0.5turn);
    }
}
:host(:not([varient*=repeating])) {
    --repeat: 1 !important;
}
:host([varient*=repeating]) {
    --repeat: 6;
}
:host([varient*=radial]) {
    --position: circle at center;
}
:host([varient*=conic]) {
    --position: at center;
    --thumb-size: .2deg;
    --p: calc(var(--val) / var(--repeat) * .01turn);
}
/* special end */

/* varient start */
:host {
    --thumb-gradient: linear-gradient(var(--thumb-gradient-val));
    --mask-before: linear-gradient(var(--mask-before-val));
    --mask-after: linear-gradient(var(--mask-after-val));
}
:host([varient=radial]) {
    --thumb-gradient: radial-gradient(var(--thumb-gradient-val));
    --mask-before: radial-gradient(var(--mask-before-val));
    --mask-after: radial-gradient(var(--mask-after-val));
}
:host([varient=conic]) {
    --thumb-gradient: conic-gradient(var(--thumb-gradient-val));
    --mask-before: conic-gradient(var(--mask-before-val));
    --mask-after: conic-gradient(var(--mask-after-val));
}
:host([varient=repeating-linear]) {
    --thumb-gradient: repeating-linear-gradient(var(--thumb-gradient-val));
    --mask-before: repeating-linear-gradient(var(--mask-before-val));
    --mask-after: repeating-linear-gradient(var(--mask-after-val));
}
:host([varient=repeating-radial]) {
    --thumb-gradient: repeating-radial-gradient(var(--thumb-gradient-val));
    --mask-before: repeating-radial-gradient(var(--mask-before-val));
    --mask-after: repeating-radial-gradient(var(--mask-after-val));
}
:host([varient=repeating-conic]) {
    --thumb-gradient: repeating-conic-gradient(var(--thumb-gradient-val));
    --mask-before: repeating-conic-gradient(var(--mask-before-val));
    --mask-after: repeating-conic-gradient(var(--mask-after-val));
}
/* varient end */
